:root {
    --bg-color: rgb(32, 23, 54);
    --text-color: #e6e9ff;
    --accent-color: #986cff;
    --top-menu-color: rgb(10, 10, 10)
}

body {
    background-color: var(--bg-color);
    /* 使用变量 */
    color: var(--text-color);
    font-family: "微软雅黑", Arial, "Microsoft Yahei", sans-serif;
    margin: 0px;
}
/*-------------topmenu------------------*/
ul,li{
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: center;
}
.top-menu{
    background-color: rgb(3, 26, 46);
    box-shadow: 0px 0px 7px rgba(0,0,0,0.25);
}
.menu-button {
    background-color: rgb(18, 21, 59);
    border-radius: 4px;
    /*border: none;
    all: unset;.menu-button-f:focus{
    background-color:black
}*/
    list-style: none;
}
.menu-button-f{
    background-color: rgb(18, 21, 59);
    border-radius: 4px;
    border: none;
    color: #e6e9ff;
    justify-content: flex-start;
    align-items:center;
    padding: 4px;
    margin: 2px;
}
.menu-button-f:focus{
    background-color:black
}
.menu-button-f:hover{
    background-color:rgb(73, 61, 61)
}
.icon {
    width:30px;
    height: 30px;
    padding: 1px;
    border-radius: 20px;
}
.menu-botton-down-c{
    display: none;
}
/*----------------down right menu------------------*/

.rightmenu{
    background-color: aqua;
    width: 20%;
}
.down{
    float:left

}
.mainwindow{
    background-color:black;
    width:80%;
    height: 94.6vh;
}